:root {
    --pf: 'Source Sans Pro', sans-serif;
    --transition: all .5s;
    --bg: #182227;
    --bg-light: rgba(255, 255, 255, .15);
    --clr-text: #FCE8Ec;
    --clr-text-light: #FCE8Ecbb;
    --clr-element: #FFABC2;
    --clr-element-hover: rgba(255, 171, 194, 0.73);
    --clr-shadow: rgba(0, 0, 0, .2);
}

.drugTableButtons {
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
}


.drugTableButtons Button,  .drugTableButtons a{
    color: var(--clr-text);
    margin-inline: auto;
    padding-inline: 30px;
}
a {
    font-family: var(--pf);
    background-color: var(--bg-light);
    border: none;
    color: var(--clr-text);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
