.drugsDetails{
    margin-left: 50px;

}
.drugsDetails input, .drugsDetails select{
    margin-top: 0;
}
textarea {
    width: 1000px;
    height: 200px;
}
.details, .edit {
    margin-left: 50px;
    margin-top: 30px;
    padding-inline: 20px;
}
@media all and (max-width: 1000px){
    textarea {
        width: 500px;
    }
    .drugsDetails {
        margin-left: 0;
    }
}