.drugsDetails{
    margin-left: 50px;

}
.drugsDetails input, .drugsDetails select{
    margin-top: 0;
}
textarea {
    width: 1000px;
    height: 200px;
}

.saveButton{
    background-color: #FFB74D;
    color: black;
}
.viewingMode {
    color: var(--clr-text-light);
    font-style: italic;
}
.editingMode {
    color: #d92222;
    font-style: italic;
}
@media all and (max-width: 1000px){
    textarea {
        width: 500px;
    }
    .drugsDetails {
        margin-left: 0;
    }
}