
:root {
    --pf: 'Source Sans Pro', sans-serif;
    --transition: all .5s;
    --bg: #182227;
    --bg-light: rgba(255, 255, 255, .15);
    --clr-text: #FCE8Ec;
    --clr-text-light: #FCE8Ecbb;
    --clr-element: #FFABC2;
    --clr-element-hover: rgba(255, 171, 194, 0.73);
    --clr-shadow: rgba(0, 0, 0, .2);
}
* {
    transition: var(--transition);
}
body {
    margin: 20px;
    background: var(--bg);
    font-family: var(--pf);
    transition: var(--transition);
}
h1 {
    padding-top: 10px;
    color: var(--clr-text);
    border-bottom: 10px solid var(--clr-element);
}
h2 {
    color: var(--clr-text);
    font-size: 28px;
}
button{
    background-color: var(--bg-light);
    border: none;
    color: var(--clr-text);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
button:hover {
    background-color: var(--clr-element-hover);
    color: black;
}
button:hover:disabled {
    background-color: grey;
    opacity: 50%;
    color: var(--clr-text-light)
}
 .edit, .saveButton {
    margin-left: 50px;
    margin-top: 30px;
    padding-inline: 20px;
}
 .edit:disabled {
     opacity: 50%;
     background-color: grey;
 }
.reloadButton {
    width: 30px;
    height: 30px;
}