header {
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 50px;
    color: whitesmoke;
    margin-left: 15px;
}
header img {
    max-width: 20%;
    height: auto;
    margin: 10px;
}
button {
    background-color: #3c3e3c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}